* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #1f2937;
  --text-secondary: #6b7280;
  --border: #e2e2e2;
  --primary: #3758f9;
  --primary-bg: rgba(55, 88, 249, 0.05);
  --shaded-bg: #f9f4fb;
}

/* TESTIMONIAL SECTION */
section {
  /* background-color: red; */
  padding: 112px;
  color: var(--text);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.testimonial-header {
  margin: 0 0 64px;
  display: flex;
  position: relative;
}

/* CONTROLLER BUTTON GROUP  */
.button-group {
  position: absolute;
  bottom: 0;
  right: 32px;
}

/* Controller button  */
.testimonial-header button {
  width: 38px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: var(--text-secondary);
  border: 1px solid var(--border);
}
.testimonial-header button:disabled {
  opacity: 0.3;
}

/* icon  */
svg {
  width: 36px;
}

/* badge/label  */
span.badge {
  display: inline-block;
  margin: 0 0 12px;
  padding: 4px 14px;
  color: var(--primary);
  background-color: var(--primary-bg);
  font-size: 16px;
}

h1 {
  font-size: 48px;
  margin: 0 0 16px;
  line-height: 52px;
}

/* TESTIMONIAL SLIDING AREA  */
.testimonial-list {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  --visible: 4;
  scroll-snap-type: x mandatory;
  position: relative;
}

.testimonial-list::-webkit-scrollbar {
  display: none;
}

/* Card  */
.testimonial-card {
  padding: 8px;
  border-radius: 8px;
  background-color: var(--shaded-bg);
  width: 544px;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: calc((100% - (var(--visible) - 1) * 20) / var(--visible));
  border: 1px solid var(--border);
  scroll-snap-align: start;
  margin-right: 2px;
}

.testimonial-content {
  margin: 0 0 8px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
}

.testimonial-content p {
  margin: 16px 0 0;
}

/* Author */
.testimonial-author {
  padding: 14px 24px;
  background-color: #ffffff;
  display: flex;
  gap: 12px;
}

.testimonial-author img {
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: red;
}
.testimonial-author div h2 {
  font-size: 16px;
  color: var(--text);
  font-weight: 600;
}

/* RESPONSIVE MEDIA QUERY DIFFERENT DEVICES */
@media (max-width: 1200px) {
  section {
    padding: 80px 48px;
  }

  .testimonial-list {
    --visible: 3;
  }

  .testimonial-card {
    width: 380px;
  }

  h1 {
    font-size: 40px;
    line-height: 44px;
  }

  .button-group {
    right: 0;
  }
}

@media (max-width: 800px) {
  section {
    padding: 56px 20px;
  }

  .testimonial-header {
    margin-bottom: 40px;
  }

  .testimonial-list {
    --visible: 1;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .button-group {

    margin-top: 24px;

    display: flex;
    gap: 8px;
  }

  .testimonial-header {
    flex-direction: column;
  }


  .testimonial-content {
    padding: 20px;
  }

  .testimonial-author {
    padding: 14px 20px;
  }
}



@media (max-width: 430px) {
  .button-group button {
    transform: scale(0.8);
  }
}

